{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}



{% block content %}

<style>
    
  
    form{
        border-radius:2em; 
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.211);   
    background-color: rgba(248, 237, 227, 1);
    margin: auto;
    width: 270px;
    padding: 1em;
    
    }

    

    
    .messages{
        margin: auto;
    width: 270px;
    padding: 1em;
    }

    * {

    text-align:center;
    vertical-align: middle;
    
    
  
    
  }
      
      
  
   
</style>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    <div class="messages">
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}     
            
        Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

    </div>
    
</div>

{% endblock content %}