{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<style>
   
     
    form{
          border-radius:2em; 
      box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.211);   
      
      margin: auto;
  
      padding: 1em;
      background-color: rgba(248, 237, 227, 1);
      
      }
    .register {
      padding-top: 1%;
      padding-bottom: 5%;
      
        
      
      
      padding-left: 1em;
      width: auto;
    }
  
    
    *{
        vertical-align: middle;
    }
   
  </style>

<div class = "login">
    
    <h1>Formulir Registrasi</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}