{% extends 'base.html' %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand font-weight-bold" href="#">TO-DO LIST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">Tasks <span class="sr-only">(current)</span></a> 
        </div>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-primary"><a href="{% url 'todolist:logout' %}" class="btnlink">Logout</a></button>
        </form>
    </div>
</nav>

<p class="h5 mx-5 my-4">Username: {{username}}</p>
<p class="h1 mx-5 my-4">My To-Do List</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mx-5" data-toggle="modal" data-target="#exampleModal">Add Task</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Task Baru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-add-task" onsubmit="return false;">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Judul Task Baru</label>
                        <input type="text" name="title" class="form-control mb-2" id="title" placeholder="Judul Task Baru">
                    </div>
                    <div class="form-group">
                        <label for="description">Deskripsi Task Baru</label>
                        <textarea type="text" name="description" class="form-control mb-2" id="description" placeholder="Deskripsi Task Baru"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="add-todo" data-dismiss="modal">Tambah Task Baru</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Todo Cards -->
<div class="container-fluid m-3">
    <div class="row" id="todo-card"></div>
</div>

<p class="h5 m-4">Sesi terakhir login: {{ last_login }}</p>

<script>
    async function getTodolist() {
        return fetch("{% url 'todolist:show_todolist_json' %}").then((res) => res.json());
    }
    
    // AJAX GET
    async function refreshTodolist() {
        document.getElementById("title").value = "";
        document.getElementById("description").value = "";
        document.getElementById("todo-card").innerHTML = "";
        const todolist = await getTodolist();
        let htmlStr = ``;
        todolist.forEach((task) => {
            let is_finished = task.fields.is_finished ? "Finished" : "Not Finished";
            htmlStr += `\n<div class="col-lg-3 col-md-4 col-sm-6">
                                    <div id="${task.pk}" class="card my-3" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">${task.fields.title}
                                                <span class="badge badge-secondary">
                                                    ${is_finished}
                                                </span>
                                            </h5>
                                            <h6 class="card-subtitle my-2 text-muted">Created on ${task.fields.date}</h6>
                                            <p class="card-text">${task.fields.description}</p>
                                            <button class="btn btn-primary btn-sm m-1"><a href="update-task/${task.pk}" class="btnlink">Update Task</a></button>
                                            <button class="btn btn-danger btn-sm m-1" onclick="deleteTodolist(${task.pk})">Delete Task</a></button>
                                        </div>
                                    </div>
                                </div>`;
        })
        
        document.getElementById("todo-card").innerHTML = htmlStr;
    }

    // AJAX POST
    function addTodolist() {
        fetch("{% url 'todolist:add_task' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form-add-task'))
        }).then(refreshTodolist);
        return false;
    }

    // AJAX DELETE (Bonus Tugas 6)
    function deleteTodolist(pk) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`/todolist/delete/${pk}`, {
            method: "DELETE",
            credentials: 'same-origin',
            headers: {
                "X-CSRFToken": `${csrftoken}`
            }
        }).then(refreshTodolist);
      return false;
    }

    document.getElementById("add-todo").onclick = addTodolist;
    refreshTodolist();
</script>

<!-- References: https://github.com/pbp-fasilkom-ui/tutorial-5-example -->
{% endblock content %}